<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDkjLwBaTcyWeV3i3wQd6Z6M6FHLQkKEN0</string>
	<key>GCM_SENDER_ID</key>
	<string>76169562986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectcompany.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>company-app-udmey</string>
	<key>STORAGE_BUCKET</key>
	<string>company-app-udmey.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76169562986:ios:eb39bf2e1309be848a7313</string>
</dict>
</plist>